// LETS USE THIS FOR ALL OF OUR MAIN.HANDLEBARS TO AVOID MULTIPLE MAIN.HANDLEBARS WHEN TESTING

//basic main.handlebars RR
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">  // update to align with location of styles folder
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        {{#if isAuthenticated}}
        <a href="/auth/logout">Logout</a>
        {{else}}
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
        {{/if}}
      </nav>
    </header>


    {{{body}}}
    
  <footer>
    <p>2025 Hackmazon </p>
  </footer>
    <script src="/js/usersClientSide.js" type="module"></script>
  </body>
  </html>
