// LETS USE THIS FOR ALL OF OUR MAIN.HANDLEBARS TO AVOID MULTIPLE MAIN.HANDLEBARS WHEN TESTING

//basic main.handlebars RR
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">  // update to align with location of styles folder
  </head>
  <body>
    {{{body}}}
    
  <footer>
    <p>Shopping Cart - 2025 Hackmazon </p>
  </footer>
    
  </body>
  </html>
