{{!
You can use this template to render any errors on your site if you wish
}}
<h1>{{header}}</h1>
<article>
    <header>
        <h2>Oh No!</h2>
    </header>
</article>
<p class="not-found">{{errorMsg}}</p>
<a href="/products">Return to Home</a>