// TO DO: add productContainer div?

<!DOCTYPE html>  
<html>
  <head>
    <title>Hackmazon Cart</title>
    <link rel="stylesheet" type="text/css" href="shoppingCartStyle.css">
  </head>
  <body>
    <header>

      <a href="shoppingCart.html">Cart</a>
    </header>

    <div id="cartContainer"></div>

    <h2>Total: $<span id="totalPrice">0</span></h2>

    <button id="emptyCart">Empty Cart</button>
    <button id="checkout">Checkout</button>
    <script src="script.js"></script>
  </body>
</html>
